.user-vices{'ng-repeat' => 'userVice in vices'}
  %a.user-vice{:href => '#/user_vices/{{userVice.id}}'}
    .user-vice-name
      {{ userVice.vice.name }}
    .user-vice-description
      This is a test description
    %span.user-vice-arrow-right.glyphicon.glyphicon-chevron-right