.section-header.cf
  %a.section-header-link-right{:href => '#/user_vices/add'}
    %span.glyphicon.glyphicon-plus

  %h3.with-links Behaviors

.section-subheader.blue
  %h5 Here are where all the behaviors that you are tracking will live.

.user-vices{'ng-repeat' => 'userVice in vices | filter: {active: true}'}
  %a.user-vice{:href => '#/user_vices/{{userVice.id}}'}
    .user-vice-name
      {{ userVice.vice.name }}
    .user-vice-description{'ng-show' => 'userVice.vice.description'}
      {{ userVice.vice.description }}
    %span.user-vice-arrow-right.glyphicon.glyphicon-chevron-right