.section-header
  %h3 Behaviors

.btn-center-wrapper
  %a.btn-add-tracking.btn{:href => '#/user_vices/add'}
    %span.glyphicon.glyphicon-plus
    .btn-text Track a new behavior
.user-vices{'ng-repeat' => 'userVice in vices | filter: {active: true}'}
  %a.user-vice{:href => '#/user_vices/{{userVice.id}}'}
    .user-vice-name
      {{ userVice.vice.name }}
    .user-vice-description{'ng-show' => 'userVice.vice.description'}
      {{ userVice.vice.description }}
    %span.user-vice-arrow-right.glyphicon.glyphicon-chevron-right