#login, #register {
  .form-group {
    width: 100%;
  }
  .input-group {
    width: 100%;
    margin-bottom: 10px;

    ::-webkit-input-placeholder {
       color: rgba(255,255,255,0.6);
    }

    :-moz-placeholder { /* Firefox 18- */
       color: rgba(255,255,255,0.6);  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: rgba(255,255,255,0.6);  
    }

    :-ms-input-placeholder {  
       color: rgba(255,255,255,0.6);  
    }

    input {
      border: 1px solid transparent;
      border-bottom: 1px darken($brand-primary, 10%) solid;
      box-shadow: none;
      background: transparent;
      color: white;
      &:focus {
        box-shadow: none;
        border-color: transparent;
        border-bottom: 1px solid white;
      }
    }
  }

  .login-greeting {
    width: 80%;
    text-align: center;
    margin: 20px auto 0;
  }

  .login-small-print {
    padding: 15px 0;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    a { display: block; margin-bottom: 5px; }

    p {
      a { display: inline }
    }
  }
}