#login, #register {
  .input-group {
    width: 100%;
    margin-bottom: 10px;

    input {
      border: 1px solid transparent;
      border-bottom: 1px darken($brand-primary, 10%) solid;
      box-shadow: none;
      background: transparent;
      color: white;
      &:focus {
        box-shadow: none;
        border-color: transparent;
        border-bottom: 1px solid white;
      }
    }
  }

  .login-greeting {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .login-small-print {
    padding: 15px 0;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    a { display: block; margin-bottom: 5px; }

    p {
      a { display: inline }
    }
  }
}