nav.navbar {
  background: $brand-primary;
  border-bottom: none;
  .navbar-collapse {
    background: white;
  }
  .navbar-header {
    background: $brand-primary;
    color: white;
    .navbar-brand {
      color: white;
    }
    .navbar-toggle {
      background: transparent;
      border-color: white;
      .icon-bar {
        background: white;
      }
    }
  }  
}

.section-header {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  background: white;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  position: relative;;
  h1, h2, h3, h4, h5, h6 {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    color: black;
  }

  .section-header-link-left, .section-header-link-right {
    padding: 17px 12px;
    min-height: 50px;
    width: 40px;
    position: absolute;

    &.section-header-link-left {
      left: 0;
      border-right: 1px solid rgba(0,0,0,0.04);
      box-shadow: 0px 0px 2px rgba(0,0,0,0.03);
    }

    &.section-header-link-right {
      right: 0;
      border-left: 1px solid rgba(0,0,0,0.04);
      box-shadow: 0px 0px 2px rgba(0,0,0,0.03);
    }
  }
}

.masthead {
  position: relative;
  margin-top: 50px;

  .masthead-link-left {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
  }

  .section-header {
    margin-top: 0px;
  }
  .masthead-image {
    .masthead-image-div {
      background-size: cover;
      background-position: center center;
      height: 200px;

      &.masthead-image-default {
        background: image-url("default-bg.png") repeat;
      }
    }
  }

  .masthead-cta {
    z-index: 9999;
    position: absolute;
    bottom: 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

.section-subheader {
  background: white;
  padding: 10px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0;

  &.blue {
    background: $brand-primary;
    color: white;
  }
}