.section-header.cf
  %a.section-header-link-left{'ng-click' => 'goBack()'}
    %span.glyphicon.glyphicon-chevron-left
  %h3.with-links Add behavior
.section-subheader.blue
  %h5 What do you want to start tracking? Search for behaviors to track or create a new one.

.search-or-add
  %input{:type => 'text', :placeholder => 'Search or Add', 'ng-model' => 'viceSearch', 'ng-change' => 'makeParam()'}

.user-vices
  %div{'ng-repeat' => 'vice in vices | filter:viceSearch'}
    %a.user-vice{:href => '#/vices/{{ vice.id }}'}
      .user-vice-name
        {{ vice.name }}
      .user-vice-description
        {{ vice.description }}
  %a.new-vice{:href => '#/vices/new?{{ viceNameParam }}', 'ng-show' => 'viceNameParam'}
    .user-vice-name
      Create {{ viceSearch }}
    .user-vice-description
      This activity does not exist yet. Add it!