.section-header
  %h3 What do you want to start tracking?

.search-or-add
  %input{:type => 'text', :placeholder => 'Search or Add', 'ng-model' => 'viceSearch', 'ng-change' => 'makeParam()'}

.user-vices
  %div{'ng-repeat' => 'vice in vices | filter:viceSearch'}
    %a.user-vice{:href => '#/vices/{{ vice.id }}'}
      .user-vice-name
        {{ vice.name }}
      .user-vice-description
        This is a test description
  %a.new-vice{:href => '#/vices/new/{{ viceNameParam }}', 'ng-show' => 'viceNameParam'}
    .user-vice-name
      Create {{ viceSearch }}
    .user-vice-description
      This activity does not exist yet. Add it!