.section-header
  %h3 Checkin

.new-checkin
  .checkin-bar

  %form{'ng-submit' => 'addCheckin()'}
    .checkin-note
      %textarea{'ng-model' => 'note', :placeholder => "What's going on? How were you feeling before you did this? What could you do to prevent it in the future?"}
    %button.btn.btn-primary.btn-full-width{:type => 'submit'}
      Every moment is a new moment.