.section-header
  %h3 New Event

#body-content.container-fluid
  .row
    .col-md-8.col-md-offset-2
      .new-checkin

        %form{'ng-submit' => 'addCheckin()'}
          .checkin-bar
            .location
              %a{'ng-click' => 'addLocation()', 'ng-class' => '{"uploaded" : latitude}'}
                %span.glyphicon.glyphicon-map-marker
                %span{'ng-hide' => 'latitude'}
                  Add Location
                %span{'ng-show' => 'latitude'}
                  Location Added
            .image
              %a{"ng-model" => "files", "ngf-select" => "", 'ng-class' => "{'uploaded' : image}"}
                %span.glyphicon.glyphicon-camera
                %span{'ng-hide' => 'image'}
                  Add Photo 
                  %span.percentage{'ng-show' => 'progressPercentage'} {{ progressPercentage + '%'}}
                %span{'ng-show' => 'image'}
                  Photo Uploaded
                  %span.glyphicon.glyphicon-ok
          .checkin-note
            %textarea{'ng-model' => 'note', :placeholder => "What's going on? How were you feeling before you did this? What could you do to prevent it in the future?"}
          %button.btn.btn-white.btn-full-width{:type => 'submit'}
            Every moment is a new moment.