#register
  %form{'ng-submit' => 'register()'}
    .input-group
      %input.form-control{:type => 'email', :placeholder => 'Email', 'ng-model' => 'user.email'}
    .input-group
      %input.form-control{:type => 'text', :placeholder => 'Username', 'ng-model' => 'user.username'}
    .input-group
      %input.form-control{:type => 'password', :placeholder => 'Password', 'ng-model' => 'user.password'}
    .input-group
      %input.form-control{:type => 'password', :placeholder => 'Confirm Password', 'ng-model' => 'user.password_confirmation'}

    %div{'ng-include' => "'auth/_small_print.html'"}

    %input.btn.btn-primary.btn-full-width.btn-primary-caps{:type => 'submit', :value => 'Register'}