.login-small-print
  %a{:href => '#'} Forgot password?
  %a{:href => '#/login'} Already have an account?
  %p 
    By logging in, you agree to our
    %a{:href => '#'} Terms of Service
    and our
    %a{:href => '#'} Privacy Policy.