.section-header
  %h3 {{ vice.name }}

%button.add-vice.btn.btn-primary{'ng-hide' => 'userVice', 'ng-click' => 'addUserVice()'}
  Start Tracking

%button.add-vice.btn.btn-primary{'ng-show' => 'userVice', 'ng-click' => 'addUserVice()'}
  Stop Tracking

.tracking
  {{ vice.user_vices.length }} tracking