.vice-show
  .masthead
    %a.masthead-link-left{'ng-click' => 'goBack()'}
      %span.glyphicon.glyphicon-chevron-left
    .masthead-image
      .masthead-image-div{'ng-show' => 'vice.featured_image', :style => 'background: url({{ vice.featured_image.image_url }})'}
      .masthead-image-div.masthead-image-default{'ng-hide' => 'vice.featured_image'}
      .masthead-cta
        %button.add-vice.btn.btn-primary{'ng-hide' => 'userVice.active', 'ng-click' => 'addUserVice()'}
          Start Tracking

        %button.add-vice.btn.btn-primary{'ng-show' => 'userVice.active', 'ng-click' => 'deactivateUserVice()'}
          Stop Tracking
    .section-header
      %h3 {{ vice.name }}
      .tracking
        {{ vice.user_vices.length }} tracking
  .content
    {{ vice.description }}
