// Vendored
$icon-font-path: '/assets/bootstrap-sass/assets/fonts/bootstrap/';
@import 'bootstrap-sass/assets/stylesheets/_bootstrap';

// Base
@import 'base/_clearfix.scss';
@import 'base/_animation.scss';

// Components
@import 'components/_buttons.scss';

// Layout Components
@import 'layouts/_headers';

// Page Components
@import 'pages/_vices.scss';
@import 'pages/_auth.scss';

body {
  font-family: 'proxima-nova', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  background: lighten($brand-primary, 5%);
}

#body-content {
  padding-top: 20px;
}
